/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
}

mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;
  }
  mwl-gauge > .gauge > .dial {
    stroke: #eee;
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
  }
  
  .pendulum {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 10px;
    height: 250px;
    animation: swing 1.5s infinite ease-in-out alternate;
    transform-origin: top center;
  }
  
  .string {
    width: 4px;
    height: 200px;
    background: black;
  }
  
  .ball {
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
  }
   
  @keyframes swing {
    0% { transform: rotate(-30deg); }
    100% { transform: rotate(30deg); }
  }
  