<div class="center">
  <h1>RAJARISHI B</h1>  
</div>


<!-- Experience -->
<div>
  <a style="cursor: pointer;" class="heading">Professional Experience</a>
</div>

<section style="margin-left: 150px; font-size: 1.1rem;">
  <ul>
    <li>
      <strong>Developer Intern</strong>, EverestIMS Technologies Ltd.,
    </li>
    <li>
      <strong>Design Intern</strong>, Attox Research Laboratories Pvt. Ltd.,
    </li>
  </ul>
</section>



<!-- Education -->
<div>
  <a style="cursor: pointer;" class="heading">Education</a>
</div>
<section style="margin-left: 150px; font-size: 1.1rem;">
  <ul>
    <li>
      <strong>Bachelor of Engineering in Mechatronics Engineering</strong><br>
      Kongu Engineering College
    </li>
    <li>
      <strong>Higher Secondary Education</strong><br>
      Sri Vijay Vidyalaya Higher Secondary School<br>
      Percentage: 90%
    </li>
    <li>
      <strong>Secondary School Leaving Certificate (SSLC)</strong><br>
      Royal Matriculation School<br>
      Percentage: 89%
    </li>
  </ul>
</section>


<div style='cursor: pointer;' class="heading">
  Contact
</div>
<section style="margin-left: 132px; font-size: 1.1rem;">
  <ul>
    <i class="fa-brands fa-linkedin"> </i> &nbsp;<a href = "https://in.linkedin.com/in/rajarishi-b-5a1523224" target="_blank" style="text-decoration: none; color: black;">Linkedin</a><br>
    <i class="fa-brands fa-github">   </i> &nbsp;<a href="https://github.com/rajarishib" target="_blank" style="text-decoration: none; color: black;">GitHub</a><br>
    <i class="fa-regular fa-envelope"></i> &nbsp;<a href="mailto:rajarishi449@gmail.com" style="text-decoration: none; color: black;">Rajarishi</a>
  </ul>
</section>